<h1>
  Department #<%= @department.id %> details
</h1>

<a href="/departments/<%= @department.id %>/edit">
  Edit department
</a>

<hr>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @department.name %>
  </dd>
  <dt>
    Number of Courses
  </dt>
  <dd>
    <%= Course.where(department_id: @department.id).count %>
  </dd>
  <dt>
    Courses in this Department
  </dt>
  <% Course.where(department_id: @department.id).each do |course| %>
    <dd>
      <%= course.title %>
    </dd>
  <% end %>
</dl>

<a href="/delete_department/<%= @department.id %>">
  Delete department
</a>

<hr>

<a href="/departments">
  Go back
</a>
